<!DOCTYPE html>
<html>
  <head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>

  <body>
    <div id="app">
      <!--Vue will manage elements within this div-->

      <div id="new-student-form-errors" class="m-2">
        <!-- TODO show errors from form validation -->
        <div v-if="formErrors.length > 0" class="alert alert-danger">
          <li v-for="error in formErrors">{{error}}</li>
        </div>
      </div>

      <div id="new-student-form" class="card add-student m-2 p-2">
        <h4 class="card-title">Add new student</h4>

        <div class="form-group mb-3">
          <label for="name">Name</label>
          <!-- v-model newStudentName -->
          <input v-model.trim="newStudentName" id="name" class="form-control" />
        </div>

        <div class="form-group mb-3">
          <label for="starID">Star ID</label>
          <!-- v-model newStarID -->
          <input v-model.trim="newStarID" id="starID" class="form-control" />
        </div>

        <!--  v-on:click event handler -->
        <button v-on:click="addStudent" class="btn btn-primary">Add</button>
      </div>

      <div id="student-list-table" class="card m-2 p-2">
        <h4 class="card-title">Student List</h4>
        <h5>{{studentCount}} student(s) in class.</h5>
        <div id="student-table">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>StarID</th>
                <th>Present?</th>
              </tr>
            </thead>

            <tbody>
              <!--create table rows 
                        Each row will have a checkbox, bound to the app's data 
                        When the checkbox is checked/unchecked, 
                        the student will be signed in/out -->

              <tr
                v-for="student in sortedStudents"
                v-bind:class="{ present: student.present, absent: !student.present}"
              >
                <!-- bind attaches it to Vue function here we change styles using css and Vue -->
                <td>{{ student.name }}</td>
                <!-- display student name-->
                <td>{{ student.starID}}</td>
                <!-- display star id-->
                <td>
                  <input
                    type="checkbox"
                    v-model="student.present"
                    v-on:change="arrivedOrLeft(student)"
                  />
                  <span v-if="student.present" class="mx-3">Here</span>
                  <span v-else class="mx-3">Not present</span>
                </td>
                <!-- display check box for present/absent-->
                <td>
                  <button
                    class="btn btn-danger"
                    v-on:click="deleteStudent(student)"
                  >
                    <i class="bi bi-trash-fill"></i>Delete
                  </button>
                </td>
                <!-- display delete button -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="welcome-or-goodbye-message" class="m-2">
        <!-- TODO show a message when student arrives or leaves  -->

        <div v-if="mostRecentStudent.name">
          <div v-if="mostRecentStudent.present" class="alert alert-success">
            Welcome {{mostRecentStudent.name}}!
          </div>
          <div v-else class="alert alert-info">
            Goodbye {{mostRecentStudent.name}}, see you later
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, computed } = Vue; // when Vue is imported in head via link, it creates js name Vue which we can use to import createApp and ref from.

      createApp({
        setup() {
          // create reactive data
          const newStudentName = ref("");
          const newStarID = ref("");
          // students have a name, a starID, and present boolean value
          const studentList = ref([
            { name: "A. Student", starID: "aa1234aa", present: false },
            { name: "B. yes", starID: "aafsaa", present: false },
          ]);

          const formErrors = ref([]);

          const mostRecentStudent = ref({});

          // create functions
          function addStudent() {
            formErrors.value = []; // reset form errors to empty array

            // check if newStudentName is empty
            if (newStudentName.value.length == 0) {
              formErrors.value.push("Student name must be entered");
            }
            // check if Star Id is empty
            if (!newStarID.value) {
              formErrors.value.push("StarID must be entered");
            }

            // if there are no errors
            if (formErrors.value == 0) {
              let student = {
                name: newStudentName.value,
                starID: newStarID.value,
                present: false,
              };
              studentList.value.push(student);
              newStudentName.value = "";
              newStarID.value = "";
            }
          }
          //create computed properties

          function arrivedOrLeft(student) {
            mostRecentStudent.value = student;
          }

          function deleteStudent(studentToDelete) {
            if (confirm(`Delete ${studentToDelete.name}?`))
              studentList.value = studentList.value.filter(
                (student) => student != studentToDelete
              );
            // filter is like forEach. this will go through every student in the list and if they are false they don't keep them if they are true then they keep them
          }

          const sortedStudents = computed(() => {
            // toSorted takes the original array and creates a new array that is sorted. its a function that takes two arguments. in this case it will check if student1 is alpahbetically higher or lower than student2 and we'll have it go through the list.
            return studentList.value.toSorted((student1, student2) => {
              return student1.name.localeCompare(student2.name);
            });
          });

          const studentCount = computed(() => {
            return studentList.value.length;
          });
          return {
            // return reactive data
            studentList,
            newStudentName,
            newStarID,
            formErrors,
            mostRecentStudent,
            sortedStudents,
            // return functions
            addStudent,
            arrivedOrLeft,
            deleteStudent,
            studentCount,

            // return computed properties
          };
        },
      }).mount("#app"); // #app is a selector for the div with the id app. this means vue will find the div and manage the html within it.
    </script>
  </body>
</html>
